<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ContactsManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContactsManager.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="page-content">

            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-people-simple"></i>
                            Contact Manager
                        </h1>
                    </div>


                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">

                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Register">Register</a>
                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>


            <div class="navbar mb">

                <ul>
                    <li>
                        <a asp-controller="Persons" asp-action="Index">Persons</a>
                        <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
                    </li>
                </ul>
            </div>

            <div class="body">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
